.leaderboard {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.leaderboard__table {
    display: block;
    overflow-y: scroll;
}

.leaderboard__table::-webkit-scrollbar {
    background-color: whitesmoke;
    width: 1rem;
    border-radius: 1.5rem;
}
.leaderboard__table::-webkit-scrollbar-thumb {
    background-color: var(--marvel-red);
    border: 0.3rem solid rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    background-clip: padding-box;
}

.leaderboard__table-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.leaderboard__row {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    padding: 1rem;
}

.leaderboard__image,
.leaderboard__name {
    flex-basis: 40%;
}
