.header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header__title {
    color: white;

    font-size: 1.8rem;
    animation: moveToRight 1s ease-in-out;
    animation-delay: 10ms;
}

.caps {
    text-transform: uppercase;
    background-color: var(--marvel-red);
    padding: 0 0.5rem;
}

.border-top-bottom {
    font-weight: 100;
    color: black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size: 1.7rem;
}

.header__nav {
    animation: moveToLeft 1s ease-in-out;
    animation-delay: 10ms;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes moveToRight {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

.nav__ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.ul__li {
    font-weight: 100;
    color: black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size: 1.2rem;
}

.ul__li:hover,
.ul__li:focus {
    background-color: var(--marvel-red);
    color: white;
    border-top: 3px solid var(--marvel-red);
    border-bottom: 3px solid var(--marvel-red);
}

.hamburger__icon {
    font-size: 2rem;
    transition: 1s;
}

.hamburger__icon--open {
    font-size: 2rem;
    transform: rotate(90deg);
    transition: 1s;
}
