.header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header__title {
    color: white;

    font-size: 2rem;
}

.caps {
    text-transform: uppercase;
    background-color: var(--marvel-red);
    padding: 0 0.5rem;
}

.border-top-bottom {
    font-weight: 100;
    color: black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size: 1.9rem;
}

.header__nav {
    display: flex;
}

.nav__ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.ul__li {
    font-weight: 100;
    color: black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size: 1.2rem;
}

.ul__li:hover,
.ul__li:focus {
    background-color: var(--marvel-red);
    color: white;
    border-top: 3px solid var(--marvel-red);
    border-bottom: 3px solid var(--marvel-red);
}
