@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Anton", sans-serif;
}

:root {
    --marvel-red: #ed1d24;
}
